<html xmlns:th="http://www.thymeleaf.org">
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="SiBuApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="SiBuApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="SiBuApp">
<!--<![endif]-->

<head>
    <title>后台</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
<div><span style="font-style: inherit; color: #0b94ea">对不起，您所访问的页面已经不存在！！！</span><a href="index.jsp">返回首页</a></div>
</body>
</html>