<html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" data-ng-app="SiBuApp"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" data-ng-app="SiBuApp"> <![endif]-->
<!--[if !IE]><!-->
<html data-ng-app="SiBuApp" lang="en">
<!--<![endif]-->

<head>
  <title>后台</title>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
</head>
<body>
<div align="center"><span
    style="font-style: inherit; color: #0b94ea">服务器异常，程序猿正在加急处理中，请稍后重试！！！</span><a
    href="${ctx}/index">返回首页</a></div>
</body>
</html>