<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.discover.persistence.dao.mysql.ArticleMapper">


    <select id="listArticle" resultType="com.mall.discover.persistence.bo.ArticleListBO">
        SELECT
        da.article_id,da.article_status,da.create_time,da.article_title,da.article_content,da.article_look,
        dc.read_count,dc.share_count,dc.sort as articleSort,da.publish_time
        FROM
        discover_article AS da
        INNER JOIN discover_count AS dc ON da.article_id = dc.bizId
        <where>
            da.is_deleted = 0
            AND dc.is_deleted = 0
            AND dc.biztype = 1
            <if test="param.articleId != null and param.articleId != ''">
                and article_id =#{param.articleId}
            </if>
        </where>
        <if test="param.sortField != null and param.sortField != '' and param.sortOrder !=null and param.sortOrder != '' ">
            order by ${param.sortField} ${param.sortOrder},da.create_time desc
        </if>
        <if test="param.sortField == null or param.sortField == '' or param.sortOrder ==null or param.sortOrder == '' ">
            order by dc.sort asc,da.create_time desc
        </if>
        LIMIT #{startRecord},#{recordSize}
    </select>

    <select id="listArticleCount" resultType="java.lang.Integer">
        SELECT
        count(da.article_id)
        FROM
        discover_article AS da
        INNER JOIN discover_count AS dc ON da.article_id = dc.bizId
        <where>
            da.is_deleted = 0
            AND dc.is_deleted = 0
            AND dc.biztype = 1
            <if test="param.articleId != null and param.articleId != ''">
                and article_id =#{param.articleId}
            </if>
        </where>
        order by dc.sort asc,da.create_time desc
    </select>


    <update id="updateArticleStatusBatch" parameterType="java.util.List">
        <foreach collection="param" item="item" index="index" open="" close="" separator=";">
            update discover_article
            <set>
                article_status=#{item.articleStatus},
                update_time=#{item.updateTime}
            </set>
            where article_id = #{item.articleId}
        </foreach>
    </update>
</mapper>