<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.discover.persistence.dao.mysql.ClientProductMapper">

    <select id="queryHighProductPage" resultType="com.mall.discover.persistence.bo.ProductBO">
        SELECT
            product_id,
            product_no,
            product_category,
            product_name,
            mall_count,
            commission,
            price,
            master_img
        FROM
            discover_product
        <where>
            is_deleted = 0
            and product_status = 6
            <if test="param.highCommissionStatus != null">
                and high_commission_status = #{param.highCommissionStatus}
            </if>
        </where>
        order by commission DESC
        LIMIT #{startRecord},#{recordSize}
    </select>

    <select id="queryHighProductPageCount" resultType="java.lang.Integer">
        SELECT
            count(product_id)
        FROM
        discover_product
        <where>
            is_deleted = 0
            and product_status = 6
            <if test="param.highCommissionStatus != null">
                and high_commission_status = #{param.highCommissionStatus}
            </if>
        </where>
    </select>

    <select id="queryHotProductPage" resultType="com.mall.discover.persistence.bo.ProductBO">
        SELECT
        dp.product_id,
        dp.product_no,
        dp.product_category,
        dp.product_name,
        dp.mall_count,
        dp.commission,
        dp.price,
        dp.master_img
        FROM discover_product AS dp
        INNER JOIN discover_count AS dc ON dc.bizId = dp.product_id
        <where>
            dp.is_deleted = 0
            AND dc.is_deleted = 0
            AND dc.biztype = #{param.bizType}
            AND dp.product_status = 6
            <if test="param.hotProductStatus != null">
                and hot_product_status = #{param.hotProductStatus}
            </if>
        </where>
        order by dc.sort ASC,dp.mall_count DESC
        LIMIT #{startRecord},#{recordSize}
    </select>

    <select id="queryHotProductPageCount" resultType="java.lang.Integer">
        SELECT
            count(dp.product_id)
        FROM discover_product AS dp
        INNER JOIN discover_count AS dc ON dc.bizId = dp.product_id
        <where>
            dp.is_deleted = 0
            AND dc.is_deleted = 0
            AND dc.biztype = #{param.bizType}
            AND dp.product_status = 6
            <if test="param.hotProductStatus != null">
                and hot_product_status = #{param.hotProductStatus}
            </if>
        </where>
    </select>

    <select id="queryProductArticlePage" resultType="com.mall.discover.persistence.bo.ArticleBO">
    SELECT
         da.article_id,
         da.article_content,
         da.article_look,
         da.article_title,
         dc.read_count,
         dc.sort
    FROM
        discover_relation AS dr
        INNER JOIN discover_article AS da ON da.article_id = dr.to_id
        INNER JOIN discover_count AS dc ON dc.bizId = da.article_id
    WHERE
        dr.is_deleted = 0
        AND da.is_deleted = 0
        AND dc.is_deleted = 0
        AND da.article_status = 2
        AND dr.biztype = #{param.relation}
        AND dc.biztype = 1
        AND dr.from_id = #{param.productId}
    order by dr.sort ASC,dc.sort_client desc
    LIMIT #{startRecord},#{recordSize}
  </select>

    <select id="queryProductArticlePageCount" resultType="java.lang.Integer">
    SELECT
         count(da.article_id)
    FROM
        discover_relation AS dr
        INNER JOIN discover_article AS da ON da.article_id = dr.to_id
        INNER JOIN discover_count AS dc ON dc.bizId = da.article_id
    WHERE
        dr.is_deleted = 0
        AND da.is_deleted = 0
        AND dc.is_deleted = 0
        AND da.article_status = 2
        AND dr.biztype = #{param.relation}
        AND dc.biztype = 1
        AND dr.from_id = #{param.productId}
    group by dr.from_id
  </select>

    <select id="queryProductListByCategory" resultType="com.mall.discover.persistence.bo.ProductBO">
        SELECT
            product_id,product_no
        FROM
            discover_product
        WHERE
            product_category = #{productCategory}
         LIMIT #{startRecord},#{recordSize}
    </select>

    <select id="queryProductInfo" resultType="com.mall.discover.persistence.bo.ProductBO">
        SELECT
        product_id,
        product_no,
        product_category,
        product_name,
        mall_count,
        commission,
        price,
        master_img
        FROM
        discover_product
        where
            is_deleted = 0
            <if test="param.productId > 0">
                and product_id = #{param.productId}
            </if>
            <if test="param.productNo != null and param.productNo != ''">
                and product_no = #{param.productNo}
            </if>
    </select>

    <select id="queryCategoryIdFirstPage" resultType="java.lang.Integer">
        select category_id_first from discover_product
        where is_deleted = 0
        and product_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryProductPageByCategoryIdFirst" resultType="java.lang.Long">
        select product_id from discover_product
        where is_deleted = 0
        and category_id_first in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryProductIdNoList" resultType="com.mall.discover.persistence.bo.ProductBO">
        SELECT
        product_id,
        product_no
        FROM
        discover_product
        where
            is_deleted = 0
    </select>
</mapper>