<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.discover.persistence.dao.mysql.ProductDao">

    <select id="listProduct" resultType="com.mall.discover.persistence.bo.ProductInfoBO">
        SELECT
        dp.*,dc.read_count,dc.share_count,dc.sort
        FROM
        discover_product AS dp
        INNER JOIN discover_count dc ON dp.product_id = dc.bizId
        WHERE
        1=1
        <if test="param.goodsName != null and param.goodsName != ''">
            and dp.product_name like CONCAT('%',#{param.goodsName},'%')
        </if>
        <if test="param.goodsCode != null and param.goodsCode != ''">
            and dp.product_no like CONCAT('%',#{param.goodsCode},'%')
        </if>
        <if test="param.hot != null and param.hot==true">
            and dp.hot_product_status=1
        </if>
        <if test="param.hot != null and param.hot==false ">
            and dp.hot_product_status=0
        </if>
        <if test="param.highFee != null and param.highFee==false ">
            and dp.high_commission_status=0
        </if>
        <if test="param.highFee != null and param.highFee==true ">
            and dp.high_commission_status=1
        </if>
        AND dp.is_deleted = 0
        AND dc.is_deleted = 0
        AND dc.biztype = 2
        LIMIT #{startRecord},#{recordSize}
    </select>

    <select id="queryProductPage" resultType="com.mall.discover.persistence.entity.product.ProductEntity">
        SELECT
        *
        FROM
        discover_product
        WHERE is_deleted = 0
        LIMIT #{startRecord},#{recordSize}
    </select>

    <select id="listProductCount" resultType="java.lang.Integer">
        SELECT
        count(dp.product_id)
        FROM
        discover_product AS dp
        INNER JOIN discover_count dc ON dp.product_id = dc.bizId
        WHERE
        1=1
        <if test="param.goodsName != null and param.goodsName != ''">
            and dp.product_name like CONCAT('%',#{param.goodsName},'%')
        </if>
        <if test="param.goodsCode != null and param.goodsCode != ''">
            and dp.product_no like CONCAT('%',#{param.goodsCode},'%')
        </if>
        <if test="param.hot != null and param.hot==true">
            and dp.hot_product_status=1
        </if>
        <if test="param.hot != null and param.hot==false ">
            and dp.hot_product_status=0
        </if>
        <if test="param.highFee != null and param.highFee==false ">
            and dp.high_commission_status=0
        </if>
        <if test="param.highFee != null and param.highFee==true ">
            and dp.high_commission_status=1
        </if>
        AND dp.is_deleted = 0
        AND dc.is_deleted = 0
        AND dc.biztype = 2
    </select>

    <update id="productEdit" parameterType="com.mall.discover.persistence.bo.ProductEditBO">
        update discover_product
        <set>
            <if test="hot != null">
                hot_product_status=#{hot},
            </if>
            <if test="highFee != null">
                high_commission_status=#{highFee}
            </if>
        </set>
        where product_id = #{productId}
    </update>


    <select id="queryProductArticlePage" resultType="com.mall.discover.persistence.bo.ProductArticleBO">
        SELECT
        da.article_id,
        da.article_title,
        da.article_content,
        da.article_status,
        da.create_time,
        da.article_look,
        da.publish_time,
        dc.read_count,
        dc.share_count,
        dr.sort,
        dr.id as relateId
        FROM
        discover_relation AS dr
        INNER JOIN discover_article AS da ON da.article_id = dr.to_id
        INNER JOIN discover_count AS dc ON dc.bizId = da.article_id
        WHERE
        dr.is_deleted = 0
        AND da.is_deleted = 0
        AND dc.is_deleted = 0
        AND dr.is_deleted = 0
        AND dr.biztype = 1
        AND dc.biztype = 1
        AND dr.from_id = #{param.productId}
        <if test="param.articleId != null">
            and da.article_id=#{param.articleId}
        </if>
        order by dr.sort is null,dr.sort asc,da.create_time desc
        LIMIT #{startRecord},#{recordSize}
    </select>

    <select id="queryProductArticlePageCount" resultType="java.lang.Integer">
        SELECT
        count(da.article_id)
        FROM
        discover_relation AS dr
        INNER JOIN discover_article AS da ON da.article_id = dr.to_id
        INNER JOIN discover_count AS dc ON dc.bizId = da.article_id
        WHERE
        dr.is_deleted = 0
        AND da.is_deleted = 0
        AND dc.is_deleted = 0
        AND dr.is_deleted = 0
        AND dr.biztype = 1
        AND dc.biztype = 1
        AND dr.from_id = #{param.productId}
        <if test="param.articleId != null">
            and da.article_id=#{param.articleId}
        </if>
    </select>


</mapper>